<section>
    <h1 class="text-center mt-5 mb-2">Calculadora de IMC em Angular</h1>

    <div class="text-center">
        <img src="banner.png" alt="Banner">
    </div>

    <p class="text-center pt-5">Projeto desenvolvido em Angular com o objetivo de calcular o Índice de Massa Corporal (IMC) de forma simples e dinâmica.</p>
    <p class="text-center pt-1">A aplicação permite ao usuário informar peso e altura para obter automaticamente o resultado do IMC e sua classificação correspondente.</p> 
    <p class="text-center pt-1">Durante o desenvolvimento, foram utilizados conceitos importantes do Angular, como componentes, Data Binding, Reactive Forms, fluxo de dados (Data Flow) e Bootstrap para estilização da interface, proporcionando uma melhor organização, validação de formulários e interatividade da aplicação.</p>
    <h6 class="text-center mt-5 text-color"><strong>Feito por:</strong> Katarine Albuquerque.</h6>
    <h6 class="text-center">
        <a class="text-center" target="_blank" href="https://github.com/albuquerque-katarine?tab=repositories">GitHub</a>&nbsp;
        <a class="text-center" target="_blank" href="https://www.linkedin.com/in/katarine-albuquerque/">Linkedin</a>
    </h6>
</section>



